<!doctype html>
<html>
<head>
<title>蟒蛇長城</title>
<style>

.item {
    background: #f5f2ff;
    margin: 5px;
    padding: 5px;
}
.mention {
    color: red;
}

</style>
</head>
<body>
<h1> Great Twitter Wall</h1>
{% if word %}
  <h2>Tweets for the #{{ word }}!</h2>
    <ul>
    {% for tweet in tweets_list %}
      <li class="item">
         <h3 class="username">{{ tweet['name'] }}</h3>
         <img src="{{ tweet['profile_image_url'] }}">
         <p class="time_created"> {{ tweet['created_at'] }}</p>
         
         
         <p class ="text">         
         
         {% for e in tweet['text'] %}
            
            {% if e['text'] %}
                <a href="/{{e['text']}}/" > #{{e['text']}} </a>
            {% elif e['url'] %}
                <a href="{{e['url']}}" > {{e['url']}} </a>
            {% elif e['name'] %}
                <span class="mention" > @{{e['screen_name']}} </span>
            {% else %}            
                {{e}}                        
            {% endif %}
                     
          {% endfor %} 
          
          </p> 
          
          {% for medium in tweet['media'] %}
            
            {% if medium['type'] == "photo" %}
               <h4>Photo:</h4>
               <img src="{{medium['media_url']}}" 
                                      height="{{medium['sizes']['thumb']['h']}}" 
                                      width="{{medium['sizes']['thumb']['w']}}" 
               >
            {% else %}
                <h4>{{ medium['type'] }}</h4>
            {% endif %}          
          {% endfor %}
          </div>
      </li>      
  
      
    {% endfor %}
    </ul>
{% else %}
  <p>Nothing to look for :(. Mend the url to start!</p>
{% endif %}
</body>
</html>
